/*
 * This file is part of possy.
 *
 * possy is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 *
 * possy is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with possy. If not, see <http://www.gnu.org/licenses/>.
 */
@media (max-width: 586px) {
	.hide-on-mobile {
		display: none;
	}
}

.print-queue-layout {
	border: 1px solid #444;
	background: hsl(214, 35%, 19%);
	overflow-y: auto;
}

body[theme~="light"] .print-queue-layout {
	background: hsl(214, 35%, 90%);
}

.print-queue-view {
	background: hsl(214, 35%, 17%);
}

body[theme~="light"] .print-queue-view {
	background: hsl(214, 35%, 90%);
}

possy-print-request-item {
	background: #444;
}

body[theme~="light"] possy-print-request-item {
	background: #eee;
}


.jira-project {
	display: flex;
	align-items: center;
	border: 1px solid gray;
	border-radius: 2px;
	padding: 4px 8px 4px 8px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.jira-project .jira-project-avatar {
	width: 48px;
	height: 48px;
}

.jira-project .jira-project-title {
	font-size: large;
	margin-left: 8px;
}

.jira-project-header {
	display: flex;
	align-items: center;
}

.jira-project-header .jira-project-avatar {
	width: 48px;
	height: 48px;
}

.jira-project-header .jira-project-title {
	font-size: xx-large;
}

.jira-project-header * {
	margin-left: 8px;
}

.story-container {
	overflow-y: auto;
}

.task-container {
	border: 1px solid gray;
	border-radius: 2px;
}


.possy-manually {
	max-width: 800px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.possy-manually .manually-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.possy-manually .manually-container .manually-form {
	width: 50%;
}

.possy-manually .manually-container.paper-template-story .manually-form {
	width: 100%;
}

.possy-manually .manually-container .manually-preview .pdf-preview {
	width: 100%;
	margin-left: var(--lumo-space-m);
	height: auto;
	object-fit: contain;
}

.possy-manually .manually-container.paper-template-story {
	display: block;
}

.paper-type-yellow .pdf-preview {
	background-color: #f9ffbe;
}

.paper-type-pink .pdf-preview {
	background-color: #ffc9f7;
}

.paper-type-white .pdf-preview {
	background-color: white;
}

.possy-manually .manually-container.paper-template-story .manually-preview .pdf-preview {
	margin: var(--lumo-space-m) 0 0 0;
	width: 100%;
}

.planner-story {
	border: 2px solid slategray;
	margin: 8px;
}
.planner-task .pdf-preview {
	width: 180px;
	margin: 4px;
}

@media (max-width: 700px) {
	.possy-manually .manually-container {
		flex-direction: column;
	}

	.possy-manually .manually-container .manually-form {
		width: 100%;
	}

	.possy-manually .manually-container .manually-preview .pdf-preview {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	.possy-manually {
		width: 100%;
	}
}
